.cell {
  width: 200px;
  height: 280px;

  background-color: var(--info-bg);
  border: 1px solid var(--info-hover);

  padding: 15px;

  display: flex;
  flex-direction: column;
}

.cell.booked {
  background-color: var(--primary-focus);
  border: 1px solid var(--primary-main);
}

.seeAll {
  margin-top: 20px;
}

.content {
  flex: 1 1 auto;
}

.modal {
  width: 500px;
}

.modal__content {
  padding-top: 20px;
}