.form {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.inputWrapper {
  width: 200px;
  margin: 0px;
}

.title {
  margin: 20px 0;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.key {
  margin-top: 20px;
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--primary-focus);
  border: 1px solid var(--primary-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

@media screen and (max-width: 776px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}